extends _layout
block content
	.container
		main(role='main')
			include share/carousel.pug
			.container.marketing
				.row
					.col-lg-4
						img(src="https://static.tp-link.com/CPE610(UN)1.0-01_normal_1507530775103w.jpg", height="140px", width="140px")
						title Placeholder
						h2 TP-Link CPE610
						p
						| The best solution if you want to extend your routers signal.
						p
						a.btn.btn-secondary(href='#', role='button') View details »
					// /.col-lg-4
					.col-lg-4
						img(src="https://amp.businessinsider.com/images/5b0d64001ae66220008b47d5-750-375.jpg", height="140px", width="180px")
						h2 Linksys WRT 1900 AC
						p
						| Powerful home solution. Dual-Band and very high quality signal. Voted best of 2014
						p
						a.btn.btn-secondary(href='#', role='button') View details »
					// /.col-lg-4
					.col-lg-4
						img(src="https://cdn.mos.cms.futurecdn.net/QC73aQvERzJKSXa7istzL9-320-80.jpg", height="140px", width="140px")
						h2 Netgear Nighthawk
						p
						| Newest standart on the market. Sports 10G LAN and 802.11ad WiFi. Get it while supplies last.
						p
						a.btn.btn-secondary(href='#', role='button') View details »
				// /.col-lg-4
				// /.row
				// START THE FEATURETTES
				hr.featurette-divider
				.row.featurette
					.col-md-7
					h2.featurette-heading
						| DXS-5000-54S
						span.text-muted Best for the office
					p.lead
						| The D-Link 5000 Series Data Center Switches are a series of high-performance switches that feature high port density, routing, and ultra-low latency, designed to be deployed as Top-of-Rack (ToR) or leaf-spine switches in data center applications. Combined with ONIE support and increased cost-efficiency, the 5000 Series form a flexible long-term solution for managing and expanding data center infrastructures in a Software-defined Networking (SDN) environment.
					.col-md-5
					img(src="http://content.us.dlink.com/wp-content/uploads/2017/08/DXS-5000-54S-A1-Front-1664x936.png")
				hr.featurette-divider
				.row.featurette
					.col-md-7.order-md-2
					h2.featurette-heading
						|
						span.text-muted See for yourself.
					p.lead
						| 
					.col-md-5.order-md-1
					svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500', height='500', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 500x500')
						title Placeholder
						rect(fill='#eee', width='100%', height='100%')
						text(fill='#aaa', dy='.3em', x='50%', y='50%') 500x500
				hr.featurette-divider
				.row.featurette
					.col-md-7
					h2.featurette-heading
						| And lastly, this one. 
						span.text-muted Checkmate.
					p.lead
						| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
					.col-md-5
					svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500', height='500', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 500x500')
						title Placeholder
						rect(fill='#eee', width='100%', height='100%')
						text(fill='#aaa', dy='.3em', x='50%', y='50%') 500x500
				hr.featurette-divider