extends _layout
block content
	.container
		main(role='main')
			section.jumbotron.text-center
				.container
					h1.jumbotron-heading All devices
					p.lead.text-muted
						| Choose from all available devices on the market right now !
					p
						a.btn.btn-primary.my-2(href='#') Add a device
						.container
						a.btn.btn-secondary.my-2(href='#') Asus
						a.btn.btn-secondary.my-2(href='#') Belkin
						a.btn.btn-secondary.my-2(href='#') D-Link
						a.btn.btn-secondary.my-2(href='#') Huawei
						a.btn.btn-secondary.my-2(href='#') Google
						.container
						a.btn.btn-secondary.my-2(href='#') Linksys
						a.btn.btn-secondary.my-2(href='#') Motorola
						a.btn.btn-secondary.my-2(href='#') Netgear
						a.btn.btn-secondary.my-2(href='#') Synology
						a.btn.btn-secondary.my-2(href='#') TP-Link
					.album.py-5.bg-light
						.container
							.row
								.col-md-4
									.card.mb-4.shadow-sm
										img(src="https://www.netgear.com/images/Products/Networking/RangeExtenders/EX6120/EX6120_NA_inWall_Transparent.png", height="225px", width="225px")
										strong Netgear Wifi Extender
										p.card-text
											| Turn your ‘dead zones’ into fun zones. NETGEAR WiFi range extenders help you keep mobile devices, media players and computers connected to WiFi with a reliable connection and expanded coverage in every corner of your home.
										.d-flex.justify-content-between.align-items-center
											.btn-group
											button.btn.btn-sm.btn-secondary(type='button') View
											button.btn.btn-sm.btn-primary(type='button') Buy
											.container
											button.btn.btn-sm.btn-warning(type='button') Edit
											button.btn.btn-sm.btn-danger(type='button') Delete
								.col-md-4
									.card.mb-4.shadow-sm
										img(src="http://content.us.dlink.com/wp-content/uploads/2017/08/DXS-5000-54S-A1-Front-1664x936.png", height="225px", width="225px")
										strong DXS-5000-54S
										p.card-text
											| The D-Link 5000 Series Data Center Switches are a series of high-performance switches that feature high port density, routing, and ultra-low latency, designed to be deployed as Top-of-Rack (ToR) or leaf-spine switches in data center applications.
										.d-flex.justify-content-between.align-items-center
											.btn-group
											button.btn.btn-sm.btn-secondary(type='button') View
											button.btn.btn-sm.btn-primary(type='button') Buy
											.container
											button.btn.btn-sm.btn-warning(type='button') Edit
											button.btn.btn-sm.btn-danger(type='button') Delete
								.col-md-4
									.card.mb-4.shadow-sm
										img(src="https://cdn.pc.net/images/db/netgear_router.png", height="225px", width="225px")
										strong Netgear WGR614v10
										p.card-text
											| NETGEAR's Cable/DSL 54 Mbps Wireless Router lets you experience the blazing-fast network wireless speeds of 54 Mbps - up to five times faster than the popular 802.11b wireless network. Very good budget solution for your household.
										.d-flex.justify-content-between.align-items-center
											.btn-group
											button.btn.btn-sm.btn-secondary(type='button') View
											button.btn.btn-sm.btn-primary(type='button') Buy
											.container
											button.btn.btn-sm.btn-warning(type='button') Edit
											button.btn.btn-sm.btn-danger(type='button') Delete
								.col-md-4
									.card.mb-4.shadow-sm
										svg.bd-placeholder-img.card-img-top(width='100%', height='225', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: Thumbnail')
										title Placeholder
										rect(fill='#55595c', width='100%', height='100%')
										text(fill='#eceeef', dy='.3em', x='50%', y='50%') Thumbnail
										.card-body
										p.card-text
											| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
										.d-flex.justify-content-between.align-items-center
											.btn-group
											button.btn.btn-sm.btn-outline-secondary(type='button') View
											button.btn.btn-sm.btn-outline-secondary(type='button') Edit
											small.text-muted 9 mins
								.col-md-4
									.card.mb-4.shadow-sm
										svg.bd-placeholder-img.card-img-top(width='100%', height='225', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: Thumbnail')
										title Placeholder
										rect(fill='#55595c', width='100%', height='100%')
										text(fill='#eceeef', dy='.3em', x='50%', y='50%') Thumbnail
										.card-body
										p.card-text
											| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
										.d-flex.justify-content-between.align-items-center
											.btn-group
											button.btn.btn-sm.btn-outline-secondary(type='button') View
											button.btn.btn-sm.btn-outline-secondary(type='button') Edit
											small.text-muted 9 mins
								.col-md-4
									.card.mb-4.shadow-sm
										svg.bd-placeholder-img.card-img-top(width='100%', height='225', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: Thumbnail')
										title Placeholder
										rect(fill='#55595c', width='100%', height='100%')
										text(fill='#eceeef', dy='.3em', x='50%', y='50%') Thumbnail
										.card-body
										p.card-text
											| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
										.d-flex.justify-content-between.align-items-center
											.btn-group
											button.btn.btn-sm.btn-outline-secondary(type='button') View
											button.btn.btn-sm.btn-outline-secondary(type='button') Edit
											small.text-muted 9 mins
								.col-md-4
									.card.mb-4.shadow-sm
										svg.bd-placeholder-img.card-img-top(width='100%', height='225', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: Thumbnail')
										title Placeholder
										rect(fill='#55595c', width='100%', height='100%')
										text(fill='#eceeef', dy='.3em', x='50%', y='50%') Thumbnail
										.card-body
										p.card-text
											| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
										.d-flex.justify-content-between.align-items-center
											.btn-group
											button.btn.btn-sm.btn-outline-secondary(type='button') View
											button.btn.btn-sm.btn-outline-secondary(type='button') Edit
											small.text-muted 9 mins
								.col-md-4
									.card.mb-4.shadow-sm
										svg.bd-placeholder-img.card-img-top(width='100%', height='225', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: Thumbnail')
										title Placeholder
										rect(fill='#55595c', width='100%', height='100%')
										text(fill='#eceeef', dy='.3em', x='50%', y='50%') Thumbnail
										.card-body
										p.card-text
											| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
										.d-flex.justify-content-between.align-items-center
											.btn-group
											button.btn.btn-sm.btn-outline-secondary(type='button') View
											button.btn.btn-sm.btn-outline-secondary(type='button') Edit
											small.text-muted 9 mins
								.col-md-4
									.card.mb-4.shadow-sm
										svg.bd-placeholder-img.card-img-top(width='100%', height='225', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: Thumbnail')
										title Placeholder
										rect(fill='#55595c', width='100%', height='100%')
										text(fill='#eceeef', dy='.3em', x='50%', y='50%') Thumbnail
										.card-body
										p.card-text
											| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
										.d-flex.justify-content-between.align-items-center
											.btn-group
											button.btn.btn-sm.btn-outline-secondary(type='button') View
											button.btn.btn-sm.btn-outline-secondary(type='button') Edit
											small.text-muted 9 mins
