ul.nav.navbar-nav
    li.nav-item.dropdown
        a.dropdown-toggle(href='#', data-target="#ddl", data-toggle='dropdown', role='button', aria-expanded='false')
            span.glyphicon.glyphicon-shopping-cart
            |  3 - Items
            span.caret
        ul#ddl.dropdown-menu.dropdown-cart(role='menu')
            li
                span.item
                span.item-left
                    img(src='https://www.plannet21.ie/wp-content/uploads/2018/05/cisco_isr_1000_router.png', height="40px", width="40px", alt='')
                    span.item-info
                    span Cisco ISR 1000
                    .container
                    span 150 leva
                span.item-right
                    button.btn.btn-xs.btn-danger.pull-right x
            li
                span.item
                span.item-left
                    img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQhi3NnBHmzgZaseAubmoLqHXlYbH8T_4d2YJdVLVHgAdKaWSb', height="40px", width="40px", alt='')
                    span.item-info
                    span Motorola AC1900
                    .container
                    span 78 leva
                span.item-right
                    button.btn.btn-xs.btn-danger.pull-right x
            li
                span.item
                span.item-left
                    img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkFxX9bYLk0vUCSvO-qJSrVcsGIDwiQR-TSK_Bf3pqm37yHpX7', height="40px", width="40px", alt='')
                    span.item-info
                    span D-Link DIR-615
                    .container
                    span 45 leva
                span.item-right
                    button.btn.btn-xs.btn-danger.pull-right x
            li.divider
            li
                a.text-center(href='') Check out