ul.nav.navbar-nav.navbar-right
    li.nav-item.dropdown
    li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
        span.glyphicon.glyphicon-shopping-cart
        |  7 - Items
        span.caret
    ul.dropdown-menu.dropdown-cart(role='menu')
    li
        span.item
        span.item-left
            img(src='http://lorempixel.com/50/50/', alt='')
            span.item-info
            span Item name
            span 23$
        span.item-right
            button.btn.btn-xs.btn-danger.pull-right x
    li
        span.item
        span.item-left
            img(src='http://lorempixel.com/50/50/', alt='')
            span.item-info
            span Item name
            span 23$
        span.item-right
            button.btn.btn-xs.btn-danger.pull-right x
    li
        span.item
        span.item-left
            img(src='http://lorempixel.com/50/50/', alt='')
            span.item-info
            span Item name
            span 23$
        span.item-right
            button.btn.btn-xs.btn-danger.pull-right x
    li
        span.item
        span.item-left
            img(src='http://lorempixel.com/50/50/', alt='')
            span.item-info
            span Item name
            span 23$
        span.item-right
            button.btn.btn-xs.btn-danger.pull-right x
    li.divider
    li
        a.text-center(href='') View Cart